body {
  background-color: #000000;
  color: #0000FF;
}

h1 {
  font-family: sans-serif;
  font-size: 2em
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 100%;
  text-align: left;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:link {color:#0070BB; } /* unvisited */
a:visited {color:#0070BA; } /* visited */

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
